apiVersion: v1
kind: Service
metadata:
  name: opa
  labels:
    app: opa
spec:
  ports:
  - name: grpc
    port: 9191
    targetPort: 9191
  selector:
    app: opa

---

kind: Deployment
apiVersion: apps/v1
metadata:
  name: opa
  labels:
    app: opa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opa
  template:
    metadata:
      labels:
        app: opa
    spec:
      containers:
        - name: opa
          image: openpolicyagent/opa:0.38.1-envoy-3
          securityContext:
            runAsUser: 1111
          volumeMounts:
          - mountPath: /etc/opa/
            name: opa-config
            readOnly: true
          - mountPath: /etc/opa/policies/
            name: opa-policies
            readOnly: true
          args:
          - "run"
          - "--server"
          - "--config-file=/etc/opa/opa-config.yaml"
          - "--addr=localhost:8181"
          - "--diagnostic-addr=0.0.0.0:8282"
          # - "--set=plugins.envoy_ext_authz_grpc.addr=:9191"
          # - "--set=plugins.envoy_ext_authz_grpc.query=data.anubis.allow"
          # - "--set=decision_logs.console=true"
          - "--log-format=json-pretty"
          - "--log-level=debug"
          - "--ignore=.*"
          - "/etc/opa/policies/"
          # NOTE. Avoiding explicit file paths.
          # We'd like to avoid duplication of file paths here and in the
          # config map we mount, which is why tell OPA to look for Rego
          # files in `/etc/opa/policies/`. But this won't work without
          # the ignore flag which tells OPA to ignore the `..data` dir
          # the config map sets up. In fact, that dir contains the actual
          # files whereas `/etc/opa/policies/*.rego` are just symlinks to
          # those files. Without the ignore flag, OPA would read both the
          # `policies/*.rego` and the actual sources in `..data`, resulting
          # in a fat compile error b/c of duplicate defs.
          # See:
          # - https://github.com/open-policy-agent/opa/issues/1109
          # - https://stackoverflow.com/questions/62776362
          ports:
          - containerPort: 9191
          livenessProbe:
            httpGet:
              path: /health?plugins
              scheme: HTTP
              port: 8282
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health?plugins
              scheme: HTTP
              port: 8282
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: opa-config
          configMap:
            name: opa-config
        - name: opa-policies
          secret:
            secretName: opa-policies
