#
# Inject a sidecar into the Orion deployment defined in `base.yaml`.
#
# Build with:
#
# $ cd nix
# $ nix shell
# $ cd ..
# $ kustomize build k8s/apps/orion
# # ^ or: cd k8s/apps/orion && kustomize build
#
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- base.yaml

components:
- ../../infra/sidecar

patches:
# The Envoy sidecar is configured to forward HTTP requests to `localhost:8080`.
# So we've got to start Orion on port 8080.
- target:
    kind: Deployment
    name: orion
  path: add-port-arg.yaml

configMapGenerator:
# The Orion Envoy sidecar executes an Orion-specific Lua filter.
# We deploy the filter along with its Lua dependencies through the sidecar
# component's Lua hook.
- name: envoy-lua-http-filter
  behavior: replace
  files:
  - http-filter.lua=envoy-filter.lua
  - https://raw.githubusercontent.com/orchestracities/anubis/master/config/opa-service/lua/JSON.lua
  - https://raw.githubusercontent.com/orchestracities/anubis/master/config/opa-service/lua/common.lua
  - https://raw.githubusercontent.com/orchestracities/anubis/master/config/opa-service/lua/decodejwt.lua
# ^ TODO. File versions.
#   Make sure to pick the exact same files that were used to test the
#   Anubis image we use, instead of blindly pulling them from master!
