apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
# For simplicity's sake, we share the same Envoy configuration across all
# the sidecars. For this to work, we assume if you want to inject a sidecar
# into your HTTP service deployment, then
# - The K8s Service has a targetPort of 8181. This is because we make Envoy
#   accept incoming connections on port 8181.
# - The container has a containerPort of 8080 and the actual service process
#   inside it listens to port 8080 too. This is because we make Envoy forward
#   calls to `localhost:8080`.
# - OPA is reachable at `opa:9191`. That's the address we tell Envoy to use.
#
# For the details, have a look at `envoy-config.yaml`. If you're not happy
# with any of those ports, you can change `envoy-config.yaml` accordingly.
# We'll eventually make our configuration more flexible so you could e.g.
# specify a different containerPort for each service---this would avoid
# you the hassle of having to start all services that need a sidecar on
# the same port, i.e. 8080.
- name: envoy-config
  files:
  - envoy.yaml=envoy-config.yaml
